.goodsWrapper {
    padding: 22px;
}
.goodsWrapper .gooddList {
    list-style: none;
    border: 1px solid #ccc;
}
.goodsWrapper .gooddList>li {
    border-bottom: 1px solid #ccc;
    margin: 11px;
}
.goodsWrapper .gooddList>li .goodItem {
    padding: 3px;
    display: flex;
    justify-content: center;
}
.goodsWrapper .gooddList>li .goodItem>span {
    display: inline-block;
    min-width: 200px;
}