.sidebar_aside {
  height: 100%;
  overflow-y: auto;
}

.sidebarMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebarLink {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
}
.sidebarLink:hover {
  background: #ddd;
}
.active {
  background: #ccc;
  font-weight: bold;
}